@inject Services Services
@inject BaseAppState AppState
@inject IDialogService DialogService

<MudText Typo="Typo.h3" Align="Align.Center" Class="mb-5">Petition @PetitionId</MudText>


<MudCard Class="ma-3 pa-3">
    <MudSimpleTable Class="pa-3 ma-3" Style="overflow-x: auto;">
        <tbody>
            <tr>
                <td><MudText><b>Petition Id:</b></MudText></td>
                <td><MudText>@PetitionDTO?.Id</MudText></td>
            </tr>
            <tr>
                <td><MudText><b>Published:</b></MudText></td>
                <td><MudText>@PetitionDTO?.Published</MudText></td>
            </tr>
            <tr>
                <td><MudText><b>Published Date:</b></MudText></td>
                <td><MudText>@(PetitionDTO?.PublishedDate?.Date.ToLocalTime().ToString("yyyy-MM-dd") ?? "Date not set")</MudText></td>
            </tr>
            <tr>
                <td><MudText><b>Community:</b></MudText></td>
                <td><UserAvatar Community="PetitionDTO?.CommunityDTO" /> <MudText>@PetitionDTO?.CommunityDTO?.FullName</MudText></td>
            </tr>
        </tbody>
    </MudSimpleTable>
</MudCard>
<MudCard Class="ma-3 pa-3">
    <MudText Typo="Typo.h5" Align="Align.Center" Class="mb-5">Authors</MudText>
    <ul>
        @foreach (UserDTO author in PetitionDTO?.Authors ?? [])
        {
            <li><UserAvatar User="author" /> @author.FullName</li>
        }
    </ul>
</MudCard>
<MudCard Class="ma-3 pa-3">
    <MudText Typo="Typo.h4" Align="Align.Center" Class="mb-5">@PetitionDTO?.Title</MudText>
    <MudText Typo="Typo.h6" Class="mb-5">Description</MudText>
    <MudText>@PetitionDTO?.Description</MudText>
    <MudText Typo="Typo.h6" Class="mb-5">Action Requested</MudText>
    <MudText>@PetitionDTO?.ActionRequested</MudText>
    <MudText Typo="Typo.h6" Class="mb-5">Supporting Arguments</MudText>
    <MudText>@PetitionDTO?.SupportingArguments</MudText>
    <MudText Typo="Typo.h6" Class="mb-5">Deadline for Response</MudText>
    <MudText>@(PetitionDTO?.DeadlineForResponse?.Date.ToLocalTime().ToString("yyyy-MM-dd") ?? "Date not set")</MudText>
</MudCard>

<MudCard Class="ma-3 pa-3">
    <MudText Typo="Typo.h5" Align="Align.Center" Class="mb-5">Supporting Documents</MudText>
    <ul>
        @foreach (string supportingDocument in PetitionDTO?.LinksToSupportingDocuments ?? [])
        {
            string fileName = Path.GetFileName(supportingDocument);
            int index = fileName.IndexOf("?");
            if (index >= 0)
            {
                fileName = fileName.Substring(0, index);
            }
            <li><MudLink Href="@supportingDocument">@fileName</MudLink></li>
        }
    </ul>
</MudCard>

<MudCard Class="ma-3 pa-3">
    <MudButton OnClick="StartSignPetitionProcess" Color="Color.Primary" Variant="Variant.Filled" Disabled="@(PetitionDTO == null || disableAll)">@AppState.Translate(ResourceKeys.ESignPetition)</MudButton>
</MudCard>
<MudCard Class="ma-3 pa-3">
    <MudText Typo="Typo.h5" Align="Align.Center" Class="mb-5">Signatures</MudText>
    <MudSimpleTable Class="pa-3 ma-3" Style="overflow-x: auto;">
        <tbody>
            <tr>
                <td><MudText><b>Majority homeowner signed:  </b></MudText></td>
                <td>
                    @if (majorityHomeOwnerSigned)
                    {
                        <MudIcon Icon="@Icons.Material.Filled.Check" Color="Color.Primary" />
                    }
                    else
                    {
                        <MudIcon Icon="@Icons.Material.Filled.Close" Color="Color.Error" />
                    }
                </td>
            </tr>
            <tr>
                <td><MudText><b>Total Signatures: </b></MudText></td>
                <td><MudText>@PetitionDTO?.Signatures.Count</MudText></td>
            </tr>
            <tr>
                <td><MudText><b>Total Number of Homes in Community: </b></MudText></td>
                <td><MudText>@PetitionDTO?.CommunityDTO?.Homes?.Count</MudText></td>
            </tr>
            <tr>
                <td><MudText><b>Amount of homes that have signed: </b></MudText></td>
                <td><MudText>@amountOfHomesThatHaveSigned</MudText></td>
            </tr>
            <tr>
                <td><MudText><b>Amount of homes needed for majority: </b></MudText></td>
                <td><MudText>@amountOfHomesNeededForMajority</MudText></td>
            </tr>
            <tr>
                <td><MudText><b>Amount of homes that haven't signed: </b></MudText></td>
                <td><MudText>@amountOfHomesThatHaventSigned</MudText></td>
            </tr>
            <tr>
                <td><MudText><b>Amount of signatures from home owners: </b></MudText></td>
                <td><MudText>@amountOfSignaturesFromHomeOwners</MudText></td>
            </tr>
            <tr>
                <td><MudText><b>Amount of signatures from non owning residents: </b></MudText></td>
                <td><MudText>@amountOfSignaturesFromNonOwningResidents</MudText></td>
            </tr>
        </tbody>
    </MudSimpleTable>
    <MudSimpleTable Class="pa-3 ma-3" Style="overflow-x: auto;">
        @foreach (HomeDTO homeDTO in PetitionDTO?.CommunityDTO?.Homes ?? [])
        {
            <MudCard Class="pa-3 ma-3">
                <MudText Align="Align.Center" Typo="Typo.h6">@homeDTO.Number @homeDTO.InternalAddress</MudText>

                <MudText><b>Owner Signatures:</b></MudText>
                <tbody>
                    @foreach (UserDTO homeOwnerDTO in homeDTO.Owners)
                    {
                        ESignatureDTO? signatureDTO = PetitionDTO?.Signatures?.FirstOrDefault(s => s?.Signer?.Equals(homeOwnerDTO) ?? false);
                        if (signatureDTO != null)
                        {
                            <tr>
                                <td><UserAvatar User="homeOwnerDTO" /> @homeOwnerDTO.FullName</td>
                                <td><img src="@signatureDTO.SignatureImage" /></td>
                                <td>@(signatureDTO?.SignedDate?.Date.ToLocalTime().ToString("yyyy-MM-dd") ?? "Date Not Set")</td>
                            </tr>

                        }
                    }
                </tbody>
                <MudText><b>Nonowner (Residents) Signatures:</b></MudText>
                <tbody>
                    @foreach (UserDTO residentDTO in homeDTO.Residents)
                    {
                        ESignatureDTO? signatureDTO = PetitionDTO?.Signatures?.FirstOrDefault(s => s?.Signer?.Equals(residentDTO) ?? false);
                        if (signatureDTO != null)
                        {
                            <tr>
                                <td><UserAvatar User="residentDTO" /> @residentDTO.FullName</td>
                                <td><img src="@signatureDTO.SignatureImage" /></td>
                                <td>@(signatureDTO?.SignedDate?.Date.ToLocalTime().ToString("yyyy-MM-dd") ?? "Date Not Set")</td>
                            </tr>
                        }
                    }
                </tbody>
            </MudCard>
        }
    </MudSimpleTable>
</MudCard>
<MudCard Class="ma-3 pa-3">
    <MudText Typo="Typo.h5" Align="Align.Center" Class="mb-5">List of Signatures</MudText>
    <MudSimpleTable Class="pa-3 ma-3">
        <thead>
            <tr>
                <th>Signer</th>
                <th>Signature</th>
                <th>Signature Date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (ESignatureDTO signature in PetitionDTO?.Signatures ?? [])
            {
                string imageSrc = $"{signature?.SignatureImage}";
                <tr>
                    <td><UserAvatar User="signature?.Signer" /> @signature?.Signer?.FullName</td>
                    <td><img src="@imageSrc" /></td>
                    <td>@(signature?.SignedDate?.Date.ToLocalTime().ToString("yyyy-MM-dd") ?? "Date Not Set")</td>
                </tr>
            }
        </tbody>
    </MudSimpleTable>
</MudCard>

<MudDialog @bind-IsVisible="ShowESignDialog">
    <DialogContent>
        <MudText Typo="Typo.h5" Align="Align.Center"><b>@AppState.Translate(ResourceKeys.ESign)</b></MudText>
        <br />
        <MudText>@AppState.Translate(ResourceKeys.ESignModalWindowMainBody)</MudText>
    </DialogContent>
    <DialogActions>
        <ul>
            <li class="mt-3">
                <MudCheckBox Disabled="disableAll" @bind-Value="agreeToESignCheckBox" Label="@AppState.Translate(ResourceKeys.ESignModalWindowCheckBox)" />
            </li>
            <li class="mt-3" style="width: 95%">
                <SignaturePad.SignaturePad @bind-Value="Signature" Options="_options" Disabled="disableAll" />
            </li>
            <li class="mt-3">
                <MudButton Color="Color.Primary" Variant="Variant.Filled" Disabled="!(agreeToESignCheckBox && Signature.Length > 0) || disableAll" OnClick="ESign">@AppState.Translate(ResourceKeys.ESign)</MudButton>
            </li>
        </ul>
    </DialogActions>
</MudDialog>

