<MudCard Elevation="25" Class="mt-5 mb-5">
    <MudCardHeader Style="background-color:#008644">
        <CardHeaderAvatar>
            <MudAvatar>
                @if (!string.IsNullOrEmpty(PostDto?.Author?.ProfilePicture))
                {
                    <MudImage Src="@PostDto.Author.ProfilePicture" />
                }
                else
                {
                   @PostDto?.Author?.Initials
                }
            </MudAvatar>
        </CardHeaderAvatar>
        <CardHeaderContent>
            <MudText Style="color:white">@PostDto?.Author?.FullName</MudText>
            <MudText Style="color:white">@PostDto?.PublishedDate</MudText>
        </CardHeaderContent>
        <CardHeaderActions>
            @if (AppState?.User?.Equals(PostDto?.Author) ?? false)
            {
                <MudIconButton Icon="@Icons.Material.Filled.Delete" Color="Color.Error" OnClick="DeletePost" />
            }
            @*  *@
        </CardHeaderActions>
    </MudCardHeader>
    <MudCardContent>
        <MudText Typo="Typo.h6">@PostDto?.Body</MudText>
    </MudCardContent>
    @if (PostDto?.Images.Count == 1)
    {
        <img src="@PostDto.Images[0]" class="full-image-fit" />
        @* <MudCardMedia Class="full-image-fit" Image="@PostDto.Images[0]" /> *@
    }
    else if(PostDto?.Images.Count > 1)
    {
        <MudCarousel Class="mud-carousel-custom mb-5" ItemsSource="PostDto.Images" BulletsColor="Color.Tertiary" ShowArrows="true" ShowBullets="true" EnableSwipeGesture="true" AutoCycle="false">
            <ItemTemplate>
                <div class="d-flex flex-column flex-column justify-center mt-10 mb-10" style="height:100%">
                    <MudImage Src="@context"/>
                </div>
            </ItemTemplate>
        </MudCarousel>
    }

    <MudCardActions Style="background-color:#008644">
        <MudBadge Content="PostDto?.NumberOfLikeReactions" Class="mr-3" Overlap="true" Color="Color.Success" Bordered="true">
            <MudIconButton Color="thumbUpColor" Class="@cssThumb" Icon="@Icons.Material.Filled.ThumbUp" OnClick="() => ReactToPost(ReactionType.Like)" />
        </MudBadge>
        <MudBadge Content="PostDto?.NumberOfDislikeReactions" Overlap="true" Color="Color.Error" Bordered="true">
            <MudIconButton Color="thumbDownColor" Class="@cssThumb" Icon="@Icons.Material.Filled.ThumbDown" OnClick="() => ReactToPost(ReactionType.Dislike)" />
        </MudBadge>
    </MudCardActions>
    @if (PostDto?.Comments.Count > 0)
    {
        <MudExpansionPanel Text="Comments">
            @foreach(PostCommentDto comment in PostDto.Comments)
            {
                <PostComment CommentDto="@comment" />
            }
        </MudExpansionPanel>
    }
    <MudItem>
        <MudTextField Class="ma-1" @bind-Value="newCommentText" Placeholder="Write a comment..." Variant="Variant.Outlined" Immediate="true" AutoGrow="true" />
        <MudButton  Class="ma-1" OnClick="SubmitComment" Color="Color.Primary" Variant="Variant.Filled" Disabled="@(string.IsNullOrEmpty(newCommentText))">Post Comment</MudButton>
    </MudItem>
</MudCard>
