@using Microsoft.AspNetCore.Components.Forms
@inject BaseAppState AppState
@inject Services Services

<MudText Align="Align.Center" Typo="Typo.h3" Color="Color.Primary">Plugin Democracy Application Administrator Panel</MudText>
<MudCard Class="ma-3 pa-3">
    <MudText Typo="Typo.h5">Select Community</MudText>
    <MudSelect Disabled="disabledAll" T="ResidentialCommunityDTO" Variant="Variant.Outlined" Label="Community" ValueChanged="@(EventCallback.Factory.Create<ResidentialCommunityDTO>(this, OnSelectCommunityDTOChanged))" Value="SelectedCommunity">
        @foreach (ResidentialCommunityDTO communityDtoOption in CommunitiesDTO ?? new())
        {
            <MudSelectItem Value="@communityDtoOption">@communityDtoOption.Name</MudSelectItem>
        }
    </MudSelect>
</MudCard>
@if (SelectedCommunity != null)
{
    <MudCard Class="ma-3 pa-3">
        <MudText Typo="Typo.h5">Link to community about</MudText>
        <MudLink Href="@($"{FrontEndPages.AboutCommunity}?communityId={SelectedCommunity.Id}")">Click to go to community about</MudLink>
    </MudCard>
}
<MudCard Outlined="true" Class="ma-3 pa-3">
    <MudText Typo="Typo.h5">Pending Join Community Requests</MudText>
    <ul>
        @foreach (JoinCommunityRequestDTO joinCommunityRequest in PendingJoinCommunityRequests ?? new())
        {
            <li class="mt-3 mb-3"><UserAvatar User="joinCommunityRequest.UserDTO" Size="Size.Small" /><MudLink Class="mt-1 mb-1 ml-2" Href="@($"{FrontEndPages.JoinCommunityRequests}?requestId={joinCommunityRequest.Id}")">@joinCommunityRequest.UserDTO?.FullName as @($"{(joinCommunityRequest.JoiningAsOwner == true ? "owner" : "resident")}") for home @($"{joinCommunityRequest.HomeDTO?.FullAddress} for community {joinCommunityRequest.CommunityDTO?.FullName}")</MudLink></li>
        }
    </ul>
</MudCard>
<MudCard Class="ma-3 pa-3" Outlined="true">
    <MudText Typo="Typo.h5">Create And Assign a Role</MudText>
    @*Title, description, holder, expirationDate, Powers*@
    <MudTextField Disabled="disabledAll" Label="Role Title" @bind-Value="roleToAdd.Title" Variant="Variant.Outlined" />
    <MudTextField Disabled="disabledAll" Label="Role Description" @bind-Value="roleToAdd.Description" Variant="Variant.Outlined" />
    <MudSelect Disabled="disabledAll" Label="Role Holder" Variant="Variant.Outlined" T="UserDTO" @bind-Value="roleToAdd.Holder">
        @foreach (UserDTO user in usersAvatarsOfCommunity ?? [])
        {
            <MudSelectItem Value="@user">@user.FullName</MudSelectItem>
        }
    </MudSelect>
    <MudText Typo="Typo.h6" Class="mt-1 mb-1">Powers:</MudText>
    <MudCheckBox Disabled="disabledAll" @bind-Value="powers.CanEditHomeOwnership" Color="Color.Primary" Label="CanEditHomeOwnership" />
    <MudCheckBox Disabled="disabledAll" @bind-Value="powers.CanEditResidency" Color="Color.Primary" Label="CanEditResidency" />
    <MudCheckBox Disabled="disabledAll" @bind-Value="powers.CanModifyAccounting" Color="Color.Primary" Label="CanModifyAccounting" />
    <MudButton Disabled="disabledAll" Variant="Variant.Filled" Color="Color.Primary" Class="mt-2 mb-2" OnClick="CreateAndAssignRole">Create and Assign Role</MudButton>
</MudCard>

<MudCard Class="ma-3 pa-3" Outlined="true">
    <MudText Typo="Typo.h5">Unassign and Delete Role</MudText>
    <MudSelect Disabled="disabledAll" Label="Select Role to Delete" Variant="Variant.Outlined" T="RoleDTO" @bind-Value="roleToDelete">
        @foreach (RoleDTO role in SelectedCommunity?.Roles ?? [])
        {
            <MudSelectItem Value="@role">@role.Title</MudSelectItem>
        }
    </MudSelect>
</MudCard>
@if (roleToDelete != null)
{
    <MudCard Class="ma-3 pa-3" Outlined="true">
        <MudText Typo="Typo.h5">Role to Delete Selected: </MudText>
        <MudText>Role Id: @roleToDelete?.Id </MudText>
        <MudText>Title: @roleToDelete?.Title</MudText>
        <MudText>Description: @roleToDelete?.Description</MudText>
        <MudText>Holder FullName: @roleToDelete?.Holder?.FullName</MudText>
        <MudText>Role Expiration Date: @roleToDelete?.ExpirationDate</MudText>
        <MudText>Active: @roleToDelete?.Active</MudText>
        <MudText>Can Edit Home Ownership: @roleToDelete?.Powers.CanEditHomeOwnership</MudText>
        <MudText>Can Edit Residency: @roleToDelete?.Powers.CanEditResidency</MudText>
        <MudText>Can Modify Accounting: @roleToDelete?.Powers.CanModifyAccounting</MudText>
        <MudButton Disabled="disabledAll" Variant="Variant.Filled" Color="Color.Error" Class="mt-2 mb-2" OnClick="UnassignAndDeleteRole">Unassign and Delete Role</MudButton>
    </MudCard>
}
@if (SelectedCommunity != null)
{
    <MudCard Class="ma-3 pa-3" Outlined="true">
        <MudText Typo="Typo.h5">Edit Community's Info</MudText>
        <MudTextField T="string" Label="Name" @bind-Value="SelectedCommunity.Name" Variant="Variant.Outlined" />
        <MudTextField T="string" Label="Address" @bind-Value="SelectedCommunity.Address" Variant="Variant.Outlined" />
        <MudTextField T="string" Label="Description" @bind-Value="SelectedCommunity.Description" Variant="Variant.Outlined" />
        <MudTextField T="string" Label="Official Currency" @bind-Value="SelectedCommunity.OfficialCurrency" Variant="Variant.Outlined" />
        <MudText Typo="Typo.h6">Official Languages: </MudText>
        <MudSwitch T="bool" Size="Size.Large" Color="Color.Primary" ThumbIcon="@Icons.Material.Filled.Flag" @bind-Value="english"> English <img src="@usaFlag" height="14" class="mr-1" /></MudSwitch>
        <MudSwitch T="bool" Size="Size.Large" Color="Color.Primary" ThumbIcon="@Icons.Material.Filled.Flag" @bind-Value="spanish"> Spanish <img src="@mxnFlag" height="14" class="mr-1" /></MudSwitch>
        <MudButton Variant="Variant.Filled" Color="Color.Primary" Class="mt-2 mb-2" OnClick="UpdateBasicCommunityInfo">Update Community's Basic Info</MudButton>
    </MudCard>
    <MudCard Class="ma-3 pa-3" Outlined="true">
        <MudText Typo="Typo.h5">Add image to community profile</MudText>
        <MudFileUpload T="IBrowserFile" Accept=".png, .jpg, .jpeg" FilesChanged="@( (IBrowserFile f) => file = f)" MaximumFileCount="1" Context="fileInput">
            <ButtonTemplate>
                <MudButton HtmlTag="label" Variant="Variant.Filled" Color="Color.Info" StartIcon="@Icons.Material.Filled.AttachFile" for="@fileInput">
                    Select @(file != null ? " (1)" : "")
                </MudButton>
            </ButtonTemplate>
        </MudFileUpload>
        <MudButton Class="mt-5" Disabled="@(file == null)" Variant="Variant.Filled" Color="Color.Primary" StartIcon="@Icons.Material.Filled.CloudUpload" OnClick="UpdateCommunityPicture">@AppState.Translate(ResourceKeys.Update)</MudButton>
    </MudCard>

    <MudCard Class="ma-3 pa-3">
        <MudText Typo="Typo.h5" Align="Align.Center" Class="mb-5">Community's Residences</MudText>
        @foreach (HomeDTO homeDTO in SelectedCommunity?.Homes ?? [])
        {
            <MudCard Class="ma-3 pa-3" Outlined="true">
                <MudText Typo="Typo.h6" Align="Align.Center" Class="mb-5">Home #@homeDTO.Number</MudText>
                <MudButton Variant="Variant.Filled" Color="Color.Error" OnClick="@(() => DeleteHome(homeDTO))">Delete Home</MudButton>

                <MudSimpleTable Class="pa-3 ma-3" Style="overflow-x: auto;">
                    <tbody>
                        <tr>
                            <td><MudText><b>Number:</b></MudText></td>
                            <td><MudText>@homeDTO.Number</MudText></td>
                        </tr>
                        <tr>
                            <td><MudText><b>Internal Address:</b></MudText></td>
                            <td><MudText>@homeDTO.InternalAddress</MudText></td>
                        </tr>
                    </tbody>
                </MudSimpleTable>
                @if (homeDTO.OwnersOwnerships.Count > 0)
                {
                    <MudText Typo="Typo.h6" Align="Align.Center" Class="mb-5">Ownerships</MudText>
                    <MudSimpleTable Class="pa-3 ma-3">
                        <tbody>
                            @foreach (HomeOwnershipDTO homeOwnershipDTO in homeDTO.Ownerships)
                            {
                                <tr>
                                    <td><UserAvatar User="@homeOwnershipDTO.Owner" /> @homeOwnershipDTO.Owner?.FullName</td>
                                    <td>@homeOwnershipDTO.OwnershipPercentage%</td>
                                    <td><MudButton Variant="Variant.Filled" Color="Color.Error" OnClick="@( () => RemoveOwnership(homeDTO, homeOwnershipDTO))">Remove Ownership</MudButton></td>
                                </tr>
                            }
                        </tbody>
                    </MudSimpleTable>
                }
                @if (homeDTO.Residents.Count > 0)
                {
                    <MudSimpleTable Class="pa-3 ma-3">
                        <MudText Typo="Typo.h6" Align="Align.Center" Class="mb-5">Residents</MudText>
                        <tbody>
                            @foreach (UserDTO resident in homeDTO.Residents)
                            {
                                <tr>
                                    <td><UserAvatar User="@resident" /> @resident.FullName</td>
                                    <td><MudButton Variant="Variant.Filled" Color="Color.Error" OnClick="@( () => RemoveResident(homeDTO, resident))">Remove Resident</MudButton></td>
                                </tr>
                            }
                        </tbody>
                    </MudSimpleTable>
                }
            </MudCard>
        }
    </MudCard>
    <MudCard Class="ma-3 pa-3">
        <MudText Typo="Typo.h5">Edit Home's Info</MudText>
        <MudSelect T="HomeDTO" Variant="Variant.Outlined" Label="Home To Edit" @bind-Value="HomeDTOToEdit">
            @foreach (HomeDTO home in SelectedCommunity?.Homes ?? new())
            {
                <MudSelectItem Value="@home">@home.Number @home.InternalAddress</MudSelectItem>
            }
        </MudSelect>
        <MudTextField Label="Number" @bind-Value="HomeDTOToEdit.Number" Variant="Variant.Outlined"/>
        <MudTextField Label="Internal Address" @bind-Value="HomeDTOToEdit.InternalAddress" Variant="Variant.Outlined"/>
        <MudButton Variant="Variant.Filled" Color="Color.Info" Class="mt-2 mb-2" OnClick="EditHome">Edit Home</MudButton>
    </MudCard>
}