@using Syncfusion.Blazor.RichTextEditor
@inject BaseAppState AppState
@inject Services Services

<MudText Typo="Typo.h3" Color="Color.Primary" Align="Align.Center" Class="mb-5">@AppState.Translate(ResourceKeys.CreateProposal)</MudText>

<MudCard Elevation="25" Class="pa-5">
    <MudText>@AppState.Translate(ResourceKeys.CreateProposalDescription)</MudText>
</MudCard>

<MudTextField Class="mt-5" @bind-Value="title" Text="@title" Label="@AppState.Translate(ResourceKeys.Title)" Variant="Variant.Outlined" Immediate="true"/>

<MudCard Elevation="25" Class="mt-5 pa-5">
    @if (AppState?.User?.Citizenships.Count > 1)
    {
        <MudSelect @bind-Value="communityDTO" Label="@(AppState.Translate(ResourceKeys.Community))" Required="true" Disabled="disableAll">
            @foreach (ResidentialCommunityDTO community in AppState.User.Citizenships)
            {
                <MudSelectItem Value="@community">@community.Name</MudSelectItem>
            }
        </MudSelect>
    }
</MudCard>


<div class="mt-5">
    <SfRichTextEditor Enabled="!disableAll" Value="@richTextEditorValue">
        <RichTextEditorToolbarSettings Items="Tools" />
    </SfRichTextEditor>
</div>



<MudCard Class="mt-5 mb-5">
    <MudButton Class="ml-2 mr-2" StartIcon="@Icons.Material.Filled.Save" Variant="Variant.Filled" Color="Color.Info" OnClick="SaveProposalDraft" Disabled="disableAll">@AppState.Translate(ResourceKeys.Save)</MudButton>
    <MudButton Class="ml-2 mr-2" StartIcon="@Icons.Material.Filled.Publish" Variant="Variant.Filled" Color="Color.Primary" OnClick="PublishProposal" Disabled="disableAll">@AppState.Translate(ResourceKeys.Publish)</MudButton>
</MudCard>