@namespace PluginDemocracy.UIComponents.Pages.Roles
@inject BaseAppState AppState
@inject Services Services

<MudText Typo="Typo.h3" Align="Align.Center" Class="mb-5">Pending Join Community Requests for:</MudText>
<MudText Typo="Typo.h5" Align="Align.Center" Class="mb-5">@(selectedCommunity?.FullName ?? "No selection.")</MudText>
<MudText Class="ma-3">You can see this page because you have the following roles assigned to you: </MudText>
<ul class="mb-8">
    @foreach (RoleDTO role in AppState.User?.Roles ?? [])
    {
        <li Class="ma-3"> - @role.Title in @role.Community?.FullName</li>
    }
</ul>

@if (possibleCommunities.Count > 1)
{
    <MudSelect T="int?" Label="Select Community" ValueChanged="OnSelectedCommunityChanged">
        @foreach (ResidentialCommunityDTO community in possibleCommunities)
        {
            <MudSelectItem Value="@(community.Id as int?)">@community.FullName</MudSelectItem>
        }
    </MudSelect>
}
@if (selectedCommunity != null)
{
    <MudCard Class="ma-3 pa-3">
        <ul>
            @foreach (JoinCommunityRequestDTO joinCommunityRequest in joinCommunityRequestsForSelectedCommunity)
            {
                <li class="mt-3 mb-3">
                    <UserAvatar User="joinCommunityRequest.UserDTO" />
                    <MudLink Class="mt-1 mb-1 ml-2" Href="@($"{FrontEndPages.JoinCommunityRequests}?requestId={joinCommunityRequest.Id}")">
                        @joinCommunityRequest.UserDTO?.FullName as @($"{(joinCommunityRequest.JoiningAsOwner == true ? "owner" : "resident")}") for home @($"{joinCommunityRequest.HomeDTO?.FullAddress} for community {joinCommunityRequest.CommunityDTO?.FullName}")
                    </MudLink>
                </li>
            }
            @if (joinCommunityRequestsForSelectedCommunity.Count == 0)
            {
                <li class="mt-3 mb-3">No pending join requests for this community.</li>
            }
        </ul>
    </MudCard>
}

