@inject BaseAppState AppState
@inject Services Services
@using System.Globalization
@using System.Text.RegularExpressions
@using System.ComponentModel.DataAnnotations
@using Microsoft.AspNetCore.Components.Forms

<MudText Typo="Typo.h3" Align="Align.Center">@AppState.Translate("Settings")</MudText>
    <MudText Typo="Typo.h4">@AppState.Translate("Language")</MudText>
    <MudSwitch T="bool" Size="Size.Large" ThumbIcon="@Icons.Material.Filled.Flag" ThumbIconColor="thumbIconColor" ValueChanged="OnSwitchToggled" Disabled="@disabled">@AppState.Culture.Name <img src="@selectedFlag" height="14" class="mr-1" /></MudSwitch>
<MudPaper Elevation="25" Variant="Variant.Outlined" Class="mt-5 mb-5">
    <MudLink Href="/forgotpassword">@AppState.Translate("ForgotPassword?")</MudLink>
    </MudPaper>

@if (AppState.IsLoggedIn)
{
    <MudPaper Class="mt-5 mb-5 pa-4">
        <MudText Typo="Typo.h3" Align="Align.Center">@AppState.Translate(ResourceKeys.UpdateProfilePicture)</MudText>
        <div style="display: flex; justify-content: center; align-items: center; width: 100%;">
            <MudAvatar Style="height:200px;width:200px;">
                @if (AppState.User != null)
                {
                    if (!string.IsNullOrEmpty(AppState.User.ProfilePicture))
                    {
                        <MudImage Src=@AppState.User.ProfilePicture />
                    }
                    else
                    {
                        <MudImage Src="https://www.freeiconspng.com/thumbs/no-image-icon/no-image-icon-6.png" />
                    }
                }
            </MudAvatar>
        </div>
        <MudFileUpload T="IBrowserFile" Accept=".png, .jpg, .jpeg" FilesChanged="@( (IBrowserFile f) => file = f)" MaximumFileCount="1" Context="fileInput">
            <ButtonTemplate>
                <MudButton HtmlTag="label" Variant="Variant.Filled" Color="Color.Info" StartIcon="@Icons.Material.Filled.AttachFile" for="@fileInput">
                    @AppState.Translate(ResourceKeys.Select) @(file != null ? " (1)" : "")
                </MudButton>
            </ButtonTemplate>
        </MudFileUpload>
        <MudButton Class="mt-5" Disabled="@(file == null)" Variant="Variant.Filled" Color="Color.Primary" StartIcon="@Icons.Material.Filled.CloudUpload" OnClick="UpdateProfilePicture">@AppState.Translate(ResourceKeys.Update)</MudButton>
    </MudPaper>
    


    <MudText Typo="Typo.h3" Align="Align.Center" Class="mt-5 mb-5">@AppState.Translate(ResourceKeys.UpdateAccountInformation)</MudText>
    <MudForm Model="@userDto" @bind-IsValid="@success" @bind-Errors="@errors">
        <MudPaper Class="pa-4" Elevation="25">
            <MudTextField T="string" Label="@AppState.Translate("FirstName")" Required="true" RequiredError="@AppState.Translate("Required")" @bind-Value="@userDto.FirstName" Variant="Variant.Outlined" />
            <MudTextField T="string" Label="@AppState.Translate("MiddleName")" Required="false" @bind-Value="@userDto.MiddleName" Variant="Variant.Outlined" />
            <MudTextField T="string" Label="@AppState.Translate("LastName")" Required="true" RequiredError="@AppState.Translate("Required")" @bind-Value="@userDto.LastName" Variant="Variant.Outlined" />
            <MudTextField T="string" Label="@AppState.Translate("SecondLastName")" Required="false" @bind-Value="@userDto.SecondLastName" Variant="Variant.Outlined" />
            <MudTextField T="string" Label="Email" Required="true" RequiredError="@AppState.Translate("Required")" Validation="@(new EmailAddressAttribute() {ErrorMessage = AppState.Translate("Invalid")})" @bind-Value="userDto.Email" Variant="Variant.Outlined" />
            <MudTextField T="string" Label="@AppState.Translate("PhoneNumber")" Required="false" InputType="@InputType.Telephone" @bind-Value="userDto.PhoneNumber" Variant="Variant.Outlined" Counter="13" MaxLength="13" Immediate="true" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Phone" AdornmentColor="@MudBlazor.Color.Info" />
            <MudTextField T="DateTime" Label="@AppState.Translate("DateOfBirth")" Format="yyyy-MM-dd" InputType="InputType.Date" Variant="Variant.Outlined" @bind-Value="userDto.DateOfBirth" Required="true" RequiredError="@AppState.Translate("Required")" />
            <MudButton Variant="Variant.Filled" Color="Color.Primary" Disabled="@disable" Class="mt-5" OnClick="PostForm">@AppState.Translate("Update")</MudButton>
            </MudPaper>
        </MudForm>
}